In [276]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import ast
import warnings
warnings.filterwarnings('ignore')

In [277]:
df=pd.read_csv("C:/Users/pilha/OneDrive/Belgeler/Coding/python/blackjack_simulator.csv",nrows=100000)

In [278]:
df.head()

,shoe_id,cards_remaining,dealer_up,initial_hand,dealer_final,dealer_final_value,player_final,player_final_value,actions_taken,run_count,true_count,win
0,0,416,10,"[10, 11]","[10, 4, 10]",24,"[[10, 11]]",['BJ'],[['S']],1,0,1.5
1,0,411,10,"[5, 5]","[10, 8]",18,"[[5, 5, 11]]",[21],"[['H', 'S']]",-2,0,1.0
2,0,406,6,"[3, 10]","[6, 6, 10]",22,"[[3, 10]]",[13],[['S']],-2,0,1.0
3,0,401,10,"[5, 9]","[10, 8]",18,"[[5, 9, 11, 3]]",[18],"[['H', 'H', 'S']]",-1,0,0.0
4,0,395,8,"[6, 10]","[8, 2, 10]",20,"[[6, 10, 10]]",[26],[['H']],-1,0,-1.0

In [279]:
df=df.drop(["shoe_id","cards_remaining","dealer_final","dealer_final_value","player_final","player_final_value","true_count"],axis=1)

In [280]:
df.head()

   dealer_up initial_hand      actions_taken  run_count  win
0         10     [10, 11]            [['S']]          1  1.5
1         10       [5, 5]       [['H', 'S']]         -2  1.0
2          6      [3, 10]            [['S']]         -2  1.0
3         10       [5, 9]  [['H', 'H', 'S']]         -1  0.0
4          8      [6, 10]            [['H']]         -1 -1.0

In [281]:
df = df[~df['win'].isin([0, -1,-2,-0.5,-6,-5,-4,-3,-2])]

In [282]:
df.head()

   dealer_up initial_hand                  actions_taken  run_count  win
0         10     [10, 11]                        [['S']]          1  1.5
1         10       [5, 5]                   [['H', 'S']]         -2  1.0
2          6      [3, 10]                        [['S']]         -2  1.0
6          6       [3, 3]  [['P', 'H', 'S'], ['H', 'S']]         -1  2.0
8          5      [8, 10]                        [['S']]          1  1.0

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 42145 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   dealer_up      42145 non-null  int64
 1   initial_hand   42145 non-null  object
 2   actions_taken  42145 non-null  object
 3   run_count      42145 non-null  int64
 4   win            42145 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 1.9+ MB

In [284]:
df.describe()

          dealer_up     run_count           win
count  42145.000000  42145.000000  42145.000000
mean       6.670329      0.267030      1.218484
std        2.849704      8.055608      0.414899
min        2.000000    -35.000000     -7.000000
25%        4.000000     -5.000000      1.000000
50%        7.000000      0.000000      1.000000
75%       10.000000      5.000000      1.500000
max       11.000000     34.000000      7.000000

In [285]:
df['initial_hand_1'] = df['initial_hand'].apply(lambda x: ast.literal_eval(x)[0] if ast.literal_eval(x) else '')
df['initial_hand_2'] = df['initial_hand'].apply(lambda x: ast.literal_eval(x)[1] if ast.literal_eval(x) else '')

In [286]:
df.head()

,dealer_up,initial_hand,actions_taken,run_count,win,initial_hand_1,initial_hand_2
0,10,"[10, 11]",[['S']],1,1.5,10,11
1,10,"[5, 5]","[['H', 'S']]",-2,1.0,5,5
2,6,"[3, 10]",[['S']],-2,1.0,3,10
6,6,"[3, 3]","[['P', 'H', 'S'], ['H', 'S']]",-1,2.0,3,3
8,5,"[8, 10]",[['S']],1,1.0,8,10

In [287]:
df=df.drop(["initial_hand"],axis=1)

In [288]:
df.head()

,dealer_up,actions_taken,run_count,win,initial_hand_1,initial_hand_2
0,10,[['S']],1,1.5,10,11
1,10,"[['H', 'S']]",-2,1.0,5,5
2,6,[['S']],-2,1.0,3,10
6,6,"[['P', 'H', 'S'], ['H', 'S']]",-1,2.0,3,3
8,5,[['S']],1,1.0,8,10

In [289]:
df["actions_taken"]=df["actions_taken"].apply(lambda x: ast.literal_eval(x)[0][0][0] if ast.literal_eval(x) else '')

In [290]:
df.head()

   dealer_up actions_taken  run_count  win  initial_hand_1  initial_hand_2
0         10             S          1  1.5              10              11
1         10             H         -2  1.0               5               5
2          6             S         -2  1.0               3              10
6          6             P         -1  2.0               3               3
8          5             S          1  1.0               8              10

In [291]:
df

       dealer_up actions_taken  run_count  win  initial_hand_1  initial_hand_2
0             10             S          1  1.5              10              11
1             10             H         -2  1.0               5               5
2              6             S         -2  1.0               3              10
6              6             P         -1  2.0               3               3
8              5             S          1  1.0               8              10
...          ...           ...        ...  ...             ...             ...
99995          5             S         -1  1.0               4              10
99996          6             S         -2  1.0              10               2
99997          5             S         -2  1.0              10               2
99998          6             D          0  2.0               6               3
99999          7             S          3  1.5              10              11

[42145 rows x 6 columns]

In [292]:
df.to_csv("C:/Users/pilha/anaconda_study/bjveri2.csv",index=0)

In [293]:
df = df[['initial_hand_1', 'initial_hand_2','dealer_up', 'run_count','actions_taken','win']]

In [294]:
df

       initial_hand_1  initial_hand_2  dealer_up  run_count actions_taken  win
0                  10              11         10          1             S  1.5
1                   5               5         10         -2             H  1.0
2                   3              10          6         -2             S  1.0
6                   3               3          6         -1             P  2.0
8                   8              10          5          1             S  1.0
...               ...             ...        ...        ...           ...  ...
99995               4              10          5         -1             S  1.0
99996              10               2          6         -2             S  1.0
99997              10               2          5         -2             S  1.0
99998               6               3          6          0             D  2.0
99999              10              11          7          3             S  1.5

[42145 rows x 6 columns]

In [295]:
from sklearn.linear_model import LogisticRegression

In [296]:
from sklearn.neighbors import KNeighborsClassifier

In [297]:
from sklearn.ensemble import RandomForestClassifier

In [298]:
from sklearn.metrics import accuracy_score

In [299]:
from sklearn.model_selection import train_test_split

In [300]:
y=df["actions_taken"]

In [301]:
x=df.drop(["actions_taken","win"],axis=1)

In [302]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# logistic regression

In [303]:
modellr=LogisticRegression()

In [304]:
y_test

18448    S
65615    H
78895    H
41428    H
4497     S
        ..
96072    H
50410    P
75946    S
55622    S
24093    D
Name: actions_taken, Length: 8429, dtype: object

In [305]:
modellr.fit(x_train,y_train)

LogisticRegression()

In [306]:
modellr.score(x_test,y_test)

0.7576224937715031

# KNN

In [307]:
modelknn=KNeighborsClassifier()

In [308]:
modelknn.fit(x_train,y_train)

KNeighborsClassifier()

In [309]:
modelknn.score(x_test,y_test)

0.9169533752521059

# RandomForest

In [310]:
modelrf=RandomForestClassifier()

In [311]:
modelrf.fit(x_train,y_train)

RandomForestClassifier()

In [312]:
modelrf.score(x_test,y_test)

1.0

In [313]:
df

       initial_hand_1  initial_hand_2  dealer_up  run_count actions_taken  win
0                  10              11         10          1             S  1.5
1                   5               5         10         -2             H  1.0
2                   3              10          6         -2             S  1.0
6                   3               3          6         -1             P  2.0
8                   8              10          5          1             S  1.0
...               ...             ...        ...        ...           ...  ...
99995               4              10          5         -1             S  1.0
99996              10               2          6         -2             S  1.0
99997              10               2          5         -2             S  1.0
99998               6               3          6          0             D  2.0
99999              10              11          7          3             S  1.5

[42145 rows x 6 columns]

# test

In [314]:
ornek=[[3,3,7,-5]]

In [315]:
modelrf.predict(ornek)

array(['P'], dtype=object)

In [316]:
df.to_csv("C:/Users/pilha/OneDrive/Belgeler/Coding/python/bjveri.csv",index=0)

In [317]:
def predict(var1, var2, var3, var4):
    
    input_data = [var1, var2, var3, var4]
    prediction = modelrf.predict([input_data])
    return prediction[0]

In [318]:
df[df["actions_taken"] == 'D']

       initial_hand_1  initial_hand_2  dealer_up  run_count actions_taken  win
13                  4               7          2         -5             D  2.0
80                  8               3          9          3             D  2.0
96                  6               4          5         -3             D  2.0
106                 5               6         10         -2             D  2.0
110                 2               9          4         -8             D  2.0
...               ...             ...        ...        ...           ...  ...
99873               4               5          4         -6             D  2.0
99928               3               8         10          5             D  2.0
99932               3               7          6          0             D  2.0
99951               2              11          5         -7             D  2.0
99998               6               3          6          0             D  2.0

[5434 rows x 6 columns]

In [319]:
predict(6,5,7,5)

'D'

In [320]:
import ipywidgets as widgets
from IPython.display import display
import keyboard

In [321]:
input1 = widgets.Text(description='init hand 1:')
input2 = widgets.Text(description='init hand 2:')
input3 = widgets.Text(description='dealer up:')
input4 = widgets.IntText(value=0,description='sayaç:')

In [322]:
button = widgets.Button(description='hesapla')

In [323]:
buttonartı=widgets.Button(description='arttır')

In [324]:
buttoneksi=widgets.Button(description='azalt')

In [325]:
output = widgets.Output()

In [326]:
def on_increase_button_clicked(b):
    input4.value = str(int(input4.value) + 1)
def on_decrease_button_clicked(b):
    input4.value = str(int(input4.value) - 1)

In [327]:
def arttir():
    input4.value = str(int(input4.value) + 1)

def azalt():
    input4.value = str(int(input4.value) - 1)

In [328]:
def on_button_clicked(b):
    with output:
        output.clear_output()
        val1 = input1.value
        val2 = input2.value
        val3 = input3.value
        val4 = input4.value
        
        result = predict(val1, val2, val3, val4)
        print(result)

In [329]:
button.on_click(on_button_clicked)
buttonartı.on_click(on_increase_button_clicked)
buttoneksi.on_click(on_decrease_button_clicked)

In [330]:
button.on_click(on_button_clicked)

In [331]:
display(input1, input2, input3, input4,button,buttonartı,buttoneksi, output)

Text(value='', description='init hand 1:')

Text(value='', description='init hand 2:')

Text(value='', description='dealer up:')

IntText(value=0, description='sayaç:')

Button(description='hesapla', style=ButtonStyle())

Button(description='arttır', style=ButtonStyle())

Button(description='azalt', style=ButtonStyle())

Output()